<h1>Transfer</h1>
<form>
    <div class="mb-3">
        <label for="sender" class="form-label">Sender</label>
        <input [(ngModel)]="sender" name="sender" type="text" class="form-control" id="sender" >
        <div id="senderHelp" class="form-text">Fill with id wallet of Sender</div>
    </div>
    <div class="mb-3">
        <label for="receiver" class="form-label">Receiver</label>
        <input [(ngModel)]="receiver" name="receiver" type="text" class="form-control" id="receiver" >
        <div id="receiverHelp" class="form-text">Fill with id wallet of Receiver</div>
    </div>
    <div class="mb-3">
        <label for="money" class="form-label">Money</label>
        <input [(ngModel)]="money" name="money" type=number min=0.00 placeholder="0.00" class="form-control" id="money">
    </div>
    <button (click)="sendTransfer()" type="button" class="btn btn-primary">Submit</button>
</form>
