<h1>Transfer</h1>
<form>
    <div class="mb-3">

        <div *ngIf="isAlertOkey" class="alert alert-success" role="alertOkey">
            Transfer completed!
        </div>
        <div *ngIf="isAlertFail" class="alert alert-danger" role="alertFail">
            Insufficient funds.
        </div>

        <form [formGroup]="registrationForm">
            <label for="sender" class="form-label">Sender</label>
            <select  class="form-select" formControlName="senderId" (change)="changeCity($event)" >
                <option value="">Choose the wallet</option>
                <option *ngFor="let walletSender of wallets" value="{{walletSender.id}}">Name: {{walletSender.nameCurrency}} - ${{walletSender.currency}} - Id: {{walletSender.id}}</option>
            </select>
            <div id="senderHelp" class="form-text">Fill with id wallet of Sender</div>

            <label for="receiver" class="form-label">Receiver</label>
            <select  class="form-select" formControlName="receiverId" (change)="changeCity($event)" >
                <option value="">Choose the another wallet</option>
                <option *ngFor="let walletReceiver of wallets" value="{{walletReceiver.id}}">Name: {{walletReceiver.nameCurrency}} - ${{walletReceiver.currency}} - Id: {{walletReceiver.id}}</option>
            </select>
            <div id="receiverHelp" class="form-text">Fill with id wallet of Receiver</div>
        </form>

    </div>

    <label for="money" class="form-label">Money</label>
        <input [(ngModel)]="money" name="money" type=number min=0.00 placeholder="0.00" class="form-control" id="money">
    <button (click)="sendTransfer()" type="button" class="btn btn-primary">Submit</button>
</form>
