<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']" >
        <img class="logo" src="../../assets/img/logo_small.png" alt="ClearPayCoin">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/users']"><i class="bi bi-people-fill"></i> Users</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-filter-left"></i>Options
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/new-user']" ><i class="bi bi-person-plus-fill"></i> New User</a></li>
              <li><a class="dropdown-item" [routerLink]="['/transfer']" ><i class="bi bi-arrow-left-right"></i> Transfer Money</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-person"></i> Admin</a>
          </li>
        </ul>
        <form class="d-flex">
          <input [(ngModel)]="search" name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button [routerLink]="['/user/search/', search]" class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>