<div id="prueva" class="p-4 mb-4 bg-light">
    <div class="container-fluid py-2">
        <h1 class="display-7 fw-bold"><i class="bi bi-person-circle"></i> {{user.name}}</h1>
        <hr class="my-4">
        <p class="col-md-12 fs-8"><i class="bi bi-currency-exchange"></i> Balance: ${{user.balance}}</p>
        <p class="col-md-12 fs-8"><i class="bi bi-calendar-event"></i> Created: {{user.fecha | date}}</p>
        <p class="col-md-12 fs-8"><i class="bi bi-wallet"></i> Wallets: {{user.wallets}}</p>
        <hr class="my-4">
        <button type="button" class="btn btn-primary" [routerLink]="['/user/', user.id]" routerLinkActive="router-link-active">
            View Wallets
        </button>
    </div>
</div> 